div.tech img:nth-child(1){
  position:relative;
  animation: is-top 3s alternate-reverse infinite;
  transform-style: preserve-3d;
  perspective: 1000;
}


@keyframes is-top{
  0%{
     top: 0;
     transform: rotateY(0deg);
  }
  50%{
    top:  -50px;
    transform: rotateY(30deg);
  }


  100%{
     top: 0;
     transform: rotateY(0deg);
  }
}
.shadows{
  position: relative;
  top: 30px;
  left: 130px;
  z-index:-1;
  transform: rotate(10deg) skewX(-40deg);
  filter: blur(8px);
  opacity:60%;
  animation: is-shadow 3s alternate-reverse infinite;
}

@keyframes is-shadow{
  0%{
     top: 30px;
    left: 130px;
    filter: blur(8px);
     transform: rotateY(0deg) rotate(10deg) skewX(-40deg) scaleX(1);
  }
  50%{
    top:  -20px;
    left: 180px;
    filter: blur(13px);
    transform: rotateY(30deg) rotate(10deg) skewX(-40deg) scaleX(1.2);
  }


  100%{
     top: 30px;
    left: 130px;
    filter: blur(8px);
     transform: rotateY(0deg) rotate(10deg) skewX(-40deg) scaleX(1);
  }
}