  @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

:root{
  --sombras-lados: #2e2e2e;
  --lados:#4e4e4e;
  --transicao: .2s;
}


main.content{
    overflow: hidden;
    width:1366px;  
    height:620px; 
    scale:1;
    font-family: 'Merriweather Sans', sans-serif;
    filter:blur(10px);
  transition:1s;
}
.painel {
  color: #2e2e2e;
  position: fixed;
}

.map {
  /* background: url(../img/fundo.png); */
  background: url(../img/fundo.jpg);
  background-size: 100% 100%;
  position: relative;
  width: 6000px;
  height: 3100px;
  left: 0;
  top: 0;
  transition: var(--transicao);
  z-index: -2;
}

div.eixo {
  position: fixed;
  transition: var(--transicao);
  z-index: 6;
}

.character {
  width: 50px;
  height: 50px;
  position: relative;
  animation: jump 2s linear infinite;
}

@keyframes jump {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

@keyframes is-rotate {
  to {
    transform: rotateX(360deg);
  }
}

.container {
  position: absolute;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(-28deg);
  transition: .8s;
  /* animation: is-rotate 2s alternate-reverse infinite;  */
}

@keyframes is-rotate {
  to {
    transform: rotateX(-28deg) rotateY(360deg);
  }
}

.container div.lados {
  position: absolute;
  width: 50px;
  height: 50px;
  border: solid 1px rgba(2,2,2, .8);
  box-shadow: inset 10px 10px 20px var(--sombras-lados);
  border-radius: 2px;
  transition: .8s;
  background: var(--lados);
}


.lado-1 {
  /* background: red; */
  transform: rotateX(0deg) translateZ(25px);
}

.lado-2 {
  /* background: blue; */
  transform: rotateY(90deg) translateZ(25px);
}

.lado-3 {
  /* background: orange; */
  transform: rotateY(180deg) translateZ(25px);
}

.lado-4 {
  /* background: green ;  */
  transform: rotateY(270deg) translateZ(25px);
}

.lado-5 {
  /* background: white; */
  transform: rotatex(90deg) translateZ(25px);
}

.lado-6 {
  /* background: yellow; */
  transform: rotatex(270deg) translateZ(25px);
}

.sombra {
  background: rgba(0, 0, 240, .4);
  transform: rotatex(270deg) translateZ(35px);
  border: none;
  /* box-shadow: 0px 0px 15px #04047c;  */
  filter: blur(5px);
  animation: is-blur 2s linear infinite;
}

@keyframes is-blur {
  0% {
    transform: rotatex(270deg) translateZ(35px);
    filter: blur(5px);
    opacity: 100%;
  }

  50% {
    transform: rotatex(270deg) translateZ(45px);
    filter: blur(10px);
    width: 55px;
    height: 55px;
    opacity: 50%;
  }

  100% {
    transform: rotatex(270deg) translateZ(35px);
    filter: blur(5px);
    opacity: 100%;
  }
}


.mini-map{
  width: 350px;
  height: 179.48px;
  position: fixed;
  right: 20px;
  top: 20px;
  /* background: url(../img/fundo.png); */
  background: url(../img/fundo.jpg);
  border: 1px solid #2e2e2e;
  background-size: 100% 100%;
  /* border: 1.5px #2e2e2e solid; */
  /* box-shadow: 5px -5px 1px #2e2e2e; */
  z-index: 400; 
  transition:.2s;
}


.container-map{
  width: 100%;
  height: 100%;
  position: relative;
}

.marcador-cubo{
  position: absolute;
  width: 10px ;
  height: 10px;
  background: var(--lados);
  margin: -4px -10px  0 0;
  box-shadow: 0px 0px 4px #333;
  transition: var(--transicao);
}

.linguagens img{
  width: 20px;
}


.off-mapa{
  display:none;
}


.open-mapa{
  display: block;
  transform: scaleY(.9);
  scale:3.5;
  right: 38%;
  top:36%;
}

.open-mapa .marcador-cubo{
  width: 5px;
  height: 5px;
}



@media screen and (max-width:768px){
   

  #roud-map-box{
    overflow:hidden;
    width:1700px;
    height:2000px;  
  }

main.content{
    width: 6000px;
    height: 3500px;
    scale:1.3;
    position:relative;
    top:530px;
    left:600px;
}

      .mini-map{
        display:none;
      }

  .indicador-interacao{
    display:none;
  }

 
  
}